*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color: rgb(13, 13, 98);
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    font-family: Lato, sans-serif;
}
.freecodecamp-logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.freecodecamp-logo{
    height: 50px;
}

.contenedor-contador {
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}